xml_schema_master/attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation id="version">
		<xs:documentation>Issue number: 5.0</xs:documentation>
		<xs:documentation>Issue date: 2019-06-28</xs:documentation>
		<xs:documentation>Steering Committee Trigger: SC 35.01</xs:documentation>
		<xs:documentation>URL: http://www.s1000d.org/S1000D_5-0/xml_schema_master/attributes.xsd</xs:documentation>
		<xs:documentation>Remarks: none</xs:documentation>
	</xs:annotation>
	<xs:annotation id="copyright">
		<xs:documentation>Copyright:
		Copyright (C) 1989, 2004, 2005, 2007, 2008, 2009, 2011, 2012, 2016, 2017, 2018, 2019 by each of the following organizations:
		1.  AeroSpace and Defence Industries Associations of Europe - ASD.
		2.  Ministries of Defence of the member countries of ASD.
	
		Limitations of Liability:

		1.  This material is provided "As Is" and neither ASD nor any person who has contributed to the creation, revision or maintenance of the material makes any representations or warranties, express or implied, including but not limited to, warranties of merchantability or fitness for any particular purpose.
		2.  Neither ASD nor any person who has contributed to the creation, revision or maintenance of this material shall be liable for any direct, indirect, special or consequential damages or any other liability arising from any use of this material.
		3.  Revisions to this document may occur after its issuance.  The user is responsible for determining if revisions to the material contained in this document have occurred and are applicable. 
		</xs:documentation>
	</xs:annotation>
	<xs:annotation id="changes_4.2-01">
		<xs:documentation source="2013-063DE R1">Redefine the type of attribute toleranceValue; 2017-10-10 URL: https://specring.com/specs/S1000D/SPEC/proposals/view/2013-063DE</xs:documentation>
		<xs:documentation source="2013-069EPWG R4">Attribute sparePartClassCode definition; 2017-10-10 URL: https://specring.com/specs/S1000D/SPEC/proposals/view/2013-069EPWG</xs:documentation>
		<xs:documentation source="2015-012EPWG R1">Delete Elements / Attributes declared but not used; 2017-10-11 URL: https://specring.com/specs/S1000D/SPEC/proposals/view/2015-012EPWG</xs:documentation>
	</xs:annotation>
	<xs:annotation id="changes_4.2-02">
		<xs:documentation source="2017-013AA R3">Conflicting Usage Instructions for @allowedObjectFlag Attribute; 2018-05-22 JS URL: https://specring.com/specs/S1000D/SPEC/proposals/view/AA-2016-0011</xs:documentation>
	</xs:annotation>
	<xs:annotation id="changes_4.2-03">
		<xs:documentation source="2015-016AA R4">Identification of Regulatory Information; 2018-11-26 JS URL: https://specring.com/specs/S1000D/SPEC/proposals/view/AA-2015-0012</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="simpleTypes.xsd"/>
	<xs:attribute name="accessPointNumber" type="xs:string"/>
	<xs:attribute name="accessPointRefType" type="xs:string"/>
	<xs:attribute name="accessPointTypeValue" type="accessPointTypeValueAttType"/>
	<xs:attribute name="accessPointTypeValueAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="acronymType" type="acronymTypeAttType" default="at01"/>
	<xs:attribute name="acronymTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="actionIdentType" type="actionIdentTypeAttType"/>
	<xs:attribute name="actionIdentTypeAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="actionResponsibility" type="actionResponsibilityAttType" default="all"/>
	<xs:attribute name="aliasFlag" type="yesOrNoAttType"/>
	<xs:attribute name="align" type="alignAttType"/>
	<xs:attribute name="alignCaption" type="alignCaptionAttType"/>
	<xs:attribute name="alignCaptionEntry" type="alignCaptionEntryAttType"/>
	<xs:attribute name="allowedNotationFlag" type="yesOrNoAttType"/>
	<!-- CPF 2017-013AA R3: removed default value for allowedObjectFlag; 20180522 JS -->
	<xs:attribute name="allowedObjectFlag" type="allowedObjectFlagAttType"/>
	<xs:attribute name="altCode" type="xs:string"/>
	<xs:attribute name="altCodeType" type="xs:string"/>
	<xs:attribute name="altNumber" type="xs:string"/>
	<xs:attribute name="altsName" type="xs:string"/>
	<xs:attribute name="andOr" type="andOrAttType"/>
	<!-- CPF 2015-012EPWG R1: deleted unused answerOptRefs attribute; 20171026 JS -->
	<xs:attribute name="answerToEntry" type="answerToEntryAttType" default="y"/>
	<xs:attribute name="application" type="xs:string"/>
	<xs:attribute name="applicationStructureIdent" type="xs:string"/>
	<xs:attribute name="applicationStructureName" type="xs:string"/>
	<xs:attribute name="applicConfiguration" type="applicConfigurationAttType"/>
	<xs:attribute name="appliccrossreftableXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="applicDisplayClass" type="xs:string"/>
	<xs:attribute name="applicIdentValue" type="xs:string"/>
	<xs:attribute name="applicMapRefId" type="xs:IDREF"/>
	<xs:attribute name="applicPropertyIdent" type="xs:NCName"/>
	<xs:attribute name="applicPropertyType" type="applicPropertyTypeAttType"/>
	<xs:attribute name="applicPropertyValue" type="applicPropertyValueAttType"/>
	<xs:attribute name="applicPropertyValues" type="applicPropertyValuesGenericAttType"/>
	<xs:attribute name="applicRefId" type="xs:IDREF"/>
	<xs:attribute name="applicRefIds" type="xs:IDREFS"/>
	<xs:attribute name="approval" type="xs:string"/>
	<xs:attribute name="associationType" type="associationTypeAttType"/>
	<xs:attribute name="assyCode" type="assyCodeAttType"/>
	<xs:attribute name="attachmentNumber" type="attachmentNumberAttType"/>
	<xs:attribute name="attachStoreShipPartCode" type="attachStoreShipPartCodeAttType"/>
	<xs:attribute name="attemptMatch" type="xs:int"/>
	<xs:attribute name="attempts" type="xs:int"/>
	<!-- CPF 2015-016AA R4: deleted attributes authorityDocument and authorityName; 20181126 JS -->
	<xs:attribute name="authorizationIdent" type="xs:NMTOKEN"/>
	<xs:attribute name="authorizationStatusDate" type="xs:string"/>
	<xs:attribute name="autoPlay" type="yesOrNoAttType"/>
	<xs:attribute name="barCodeSymbology" type="barCodeSymbologyAttType"/>
	<xs:attribute name="barCodeSymbologyAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="barCodeValue" type="xs:string"/>
	<xs:attribute name="booleanAction" type="booleanActionAttType"/>
	<xs:attribute name="booleanOperation" type="booleanOperationAttType"/>
	<xs:attribute name="brActionCompleted" type="yesOrNoAttType"/>
	<xs:attribute name="brActionOwner" type="xs:string"/>
	<xs:attribute name="brCategoryNumber" type="xs:string"/>
	<xs:attribute name="brDecisionIdentNumber" type="xs:string"/>
	<xs:attribute name="brDecisionPointPriority" type="brDecisionPointPriorityAttType"/>
	<xs:attribute name="brDecisionPointPriorityAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="brDecisionPointRefUniqueIdent" type="brDecisionPointRefUniqueIdentAttType"/>
	<xs:attribute name="brDecisionPointUniqueIdent" type="brDecisionPointUniqueIdentAttType"/>
	<xs:attribute name="brDecisionValueAllowed" type="xs:string"/>
	<xs:attribute name="brDecisionValueRegistered" type="xs:string"/>
	<xs:attribute name="brDecisionValueSelection" type="brDecisionValueSelectionAttType"/>
	<xs:attribute name="brdocXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="brexRuleFlag" type="yesOrNoAttType"/>
	<xs:attribute name="brexXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="brSeverityLevel" type="brSeverityLevelAttType"/>
	<xs:attribute name="brSeverityLevelAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="brStatus" type="brStatusAttType"/>
	<xs:attribute name="brStatusAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="cancelCaption" type="cancelCaptionAttType" default="ca01"/>
	<xs:attribute name="cancelCaptionAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="captionHeight" type="xs:string"/>
	<xs:attribute name="captionType" type="captionTypeAttType" default="primary"/>
	<xs:attribute name="captionWidth" type="xs:string"/>
	<!-- CPF 2015-012EPWG R1: deleted unused catalogItemNumber attribute; 20171011 JS -->
	<!-- CPF 2015-012EPWG R1: deleted unused catalogSeqNumberValue attribute; 20171011 JS -->
	<!-- CPF 2015-012EPWG R1: deleted unused catalogXsd attribute; 20171011 JS -->
	<xs:attribute name="cautionIdentNumber" type="xs:string"/>
	<xs:attribute name="cautionRefs" type="xs:IDREFS"/>
	<xs:attribute name="cautionType" type="xs:string"/>
	<xs:attribute name="caveat" type="caveatAttType"/>
	<xs:attribute name="caveatAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="changeInfo" type="changeInfoAttType"/>
	<xs:attribute name="changeMark" type="yesOrNoAttType"/>
	<xs:attribute name="changeType" type="changeTypeAttType"/>
	<xs:attribute name="char" type="xs:string"/>
	<xs:attribute name="charoff" type="xs:string"/>
	<xs:attribute name="checkListCategory" type="checkListCategoryAttType"/>
	<xs:attribute name="checkListCategoryAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="checkListType" type="xs:string"/>
	<xs:attribute name="checklistXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="checkSum" type="xs:string"/>
	<xs:attribute name="choiceSelection" type="choiceSelectionAttType" default="single"/>
	<xs:attribute name="choiceType" type="choiceTypeAttType"/>
	<xs:attribute name="circuitBreakerAction" type="circuitBreakerActionAttType"/>
	<xs:attribute name="circuitBreakerNumber" type="xs:string"/>
	<xs:attribute name="circuitBreakerRefType" type="circuitBreakerRefTypeAttType"/>
	<xs:attribute name="circuitBreakerRefTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="circuitBreakerType" type="circuitBreakerTypeAttType"/>
	<xs:attribute name="circuitBreakerTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="closeupDuration" type="xs:string"/>
	<xs:attribute name="collaredCircuitBreakerFlag" type="yesOrNoAttType"/>
	<xs:attribute name="colname" type="xs:NMTOKEN"/>
	<xs:attribute name="colnum" type="xs:positiveInteger"/>
	<xs:attribute name="color" type="colorAttType" default="co09"/>
	<xs:attribute name="colorAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="cols" type="xs:positiveInteger"/>
	<xs:attribute name="colsep" type="yesOrNoAttType"/>
	<xs:attribute name="colwidth" type="colwidthAttType"/>
	<xs:attribute name="commentPriorityCode" type="commentPriorityCodeAttType"/>
	<xs:attribute name="commentPriorityCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="commentType" type="commentTypeAttType"/>
	<xs:attribute name="commentXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="commercialClassification" type="commercialClassificationAttType"/>
	<xs:attribute name="commercialClassificationAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="complianceCategoryValue" type="complianceCategoryValueAttType"/>
	<xs:attribute name="comrepXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="condcrossreftableXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="condIssueNumber" type="xs:string"/>
	<xs:attribute name="condNumber" type="xs:string"/>
	<xs:attribute name="condRefGroupType" type="xs:string"/>
	<xs:attribute name="condRefId" type="xs:IDREF"/>
	<xs:attribute name="condTypeName" type="xs:string"/>
	<xs:attribute name="condTypeRefId" type="xs:IDREF"/>
	<xs:attribute name="condValue" type="xs:string"/>
	<xs:attribute name="connectedFlag" type="yesOrNoAttType"/>
	<xs:attribute name="connectionType" type="xs:string"/>
	<xs:attribute name="contactFunction" type="xs:string"/>
	<xs:attribute name="contactIdent" type="xs:string"/>
	<xs:attribute name="contactPartNumber" type="xs:string"/>
	<xs:attribute name="contactRole" type="xs:string"/>
	<xs:attribute name="contactType" type="xs:string"/>
	<xs:attribute name="containerXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="contextIdent" type="xs:string"/>
	<!-- CPF 2015-016AA R4: added new attribute controlAuthorityRefs; 20181126 JS -->
	<xs:attribute name="controlAuthorityRefs" type="xs:IDREFS"/>
	<!-- CPF 2015-016AA R4: added new attribute controlAuthoritySource; 20181126 JS -->
	<xs:attribute name="controlAuthoritySource" type="xs:string"/>
	<!-- CPF 2015-016AA R4: added new attribute type controlAuthorityType; 20181126 JS -->
	<xs:attribute name="controlAuthorityType" type="controlAuthorityTypeAttType"/>
	<!-- CPF 2015-016AA R4: added new attribute controlAuthorityValue; 20181126 JS -->
	<xs:attribute name="controlAuthorityValue" type="xs:string"/>
	<xs:attribute name="controlIndicatorNumber" type="xs:string"/>
	<xs:attribute name="countryIsoCode" type="countryIsoCodeAttType"/>
	<xs:attribute name="crewMemberType" type="crewMemberTypeAttType"/>
	<xs:attribute name="crewMemberTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="crewStepCondition" type="crewStepConditionAttType"/>
	<xs:attribute name="crewStepConditionAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="crewXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="dataEntryFieldLength" type="xs:integer" default="20"/>
	<xs:attribute name="day" type="dayAttType"/>
	<xs:attribute name="ddnXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="defaultBrSeverityLevel" type="brSeverityLevelAttType"/>
	<xs:attribute name="defaultBrSeverityLevelAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="deliveredSpecificationFlag" type="yesOrNoAttType"/>
	<xs:attribute name="dependencyTest" type="xs:IDREF"/>
	<xs:attribute name="derivativeClassificationRefId" type="xs:IDREF"/>
	<xs:attribute name="descriptXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="detectionType" type="xs:string"/>
	<xs:attribute name="dialogSeparator" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="disassyCode" type="disassyCodeAttType"/>
	<xs:attribute name="disassyCodeVariant" type="disassyCodeVariantAttType"/>
	<xs:attribute name="dmlEntryType" type="dmlEntryTypeAttType"/>
	<xs:attribute name="dmlType" type="dmlTypeAttType"/>
	<xs:attribute name="dmlXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="drillType" type="drillTypeAttType" default="dt00"/>
	<xs:attribute name="drillTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="emphasisType" type="emphasisTypeAttType" default="em01"/>
	<xs:attribute name="emphasisTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="enterpriseCode" type="xs:string"/>
	<xs:attribute name="enterpriseRefType" type="xs:string"/>
	<xs:attribute name="enterpriseType" type="xs:string"/>
	<xs:attribute name="enumerationLabel" type="xs:string"/>
	<xs:attribute name="equipState" type="equipStateAttType"/>
	<xs:attribute name="errorMessage" type="xs:string"/>
	<!-- CPF 2015-012EPWG R1: deleted unused esd attribute; 20171011 JS -->
	<xs:attribute name="etopsFlag" type="yesOrNoAttType"/>
	<xs:attribute name="exportRegulationCodeType" type="xs:string"/>
	<xs:attribute name="exportRegulationType" type="xs:string"/>
	<xs:attribute name="exportRole" type="exportRoleAttType"/>
	<xs:attribute name="extensionCode" type="xs:string"/>
	<xs:attribute name="extensionProducer" type="xs:string"/>
	<xs:attribute name="faultCode" type="xs:string"/>
	<xs:attribute name="faultPartCategory" type="xs:string"/>
	<xs:attribute name="faultProbability" type="xs:string"/>
	<xs:attribute name="faultType" type="xs:string"/>
	<xs:attribute name="faultXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="feedbackStatus" type="feedbackStatusAttType"/>
	<xs:attribute name="figureNumber" type="figureNumberAttType"/>
	<xs:attribute name="figureNumberVariant" type="figureNumberVariantAttType"/>
	<xs:attribute name="fileExtension" type="xs:string"/>
	<xs:attribute name="fileIdent" type="fileIdentAttType"/>
	<xs:attribute name="fitmentCodeValue" type="fitmentCodeValueAttType"/>
	<xs:attribute name="footnoteMark" type="footnoteMarkAttType" default="num"/>
	<xs:attribute name="forCondValues" type="applicPropertyValuesGenericAttType"/>
	<xs:attribute name="frame" type="frameAttType"/>
	<xs:attribute name="from" type="xs:string"/>
	<xs:attribute name="frontMatterInfoType" type="frontMatterInfoTypeAttType"/>
	<xs:attribute name="frontMatterInfoTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="frontMatterType" type="frontMatterTypeAttType"/>
	<xs:attribute name="frontMatterTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="frontmatterXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="fullScreen" type="yesOrNoAttType"/>
	<xs:attribute name="function" type="functionAttType"/>
	<xs:attribute name="functionalItemNumber" type="xs:string"/>
	<xs:attribute name="functionalItemRefType" type="functionalItemRefTypeAttType"/>
	<xs:attribute name="functionalItemRefTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="functionalItemType" type="functionalItemTypeAttType"/>
	<xs:attribute name="functionalItemTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="functionAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="genericPartDataName" type="xs:string"/>
	<xs:attribute name="genericPropertyFlag" type="yesOrNoAttType"/>
	<xs:attribute name="genericPropertyType" type="genericPropertyTypeAttType"/>
	<xs:attribute name="genericPropertyTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="governmentAuthority" type="xs:string"/>
	<xs:attribute name="hazardousClassValue" type="hazardousClassValueAttType"/>
	<xs:attribute name="hazardousClassValueAttRelation" type="yesOrNoAttType" default="0"/>
	<!-- CPF 2015-012EPWG R1: deleted unused hcp attribute; 20171011 JS -->
	<xs:attribute name="highVibrationFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="hingedFastenerFlag" type="yesOrNoAttType"/>
	<xs:attribute name="holeIdent" type="xs:string"/>
	<xs:attribute name="hotspotTitle" type="xs:string"/>
	<xs:attribute name="hotspotType" type="xs:string"/>
	<xs:attribute name="humanReadableForm" type="xs:string"/>
	<xs:attribute name="hydraulicFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="icnInfoItemType" type="icnInfoItemTypeAttType"/>
	<xs:attribute name="icnInfoItemTypeAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="icnmetadataXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="icnObjectIdent" type="xs:string"/>
	<xs:attribute name="icnObjectName" type="xs:string"/>
	<xs:attribute name="icnObjectTitle" type="xs:string"/>
	<xs:attribute name="icnObjectType" type="xs:string"/>
	<xs:attribute name="icnResourceFileType" type="icnResourceFileTypeAttType"/>
	<xs:attribute name="icnResourceFileTypeAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="icnSourceFileType" type="icnSourceFileTypeAttType"/>
	<xs:attribute name="icnSourceFileTypeAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="id" type="xs:ID"/>
	<xs:attribute name="imfIdentIcn" type="xs:string"/>
	<!-- CPF 2015-012EPWG R1: deleted unused imfIdentSeqNumber attribute; 20171011 JS -->
	<xs:attribute name="incorporationStatus" type="incorporationStatusAttType"/>
	<!-- CPF 2017-028AA R4: changed indenture from xs:nonNegativeInteger to indentureAttType; 20180523 JS -->
	<xs:attribute name="indenture" type="indentureAttType"/>
	<xs:attribute name="independentCheck" type="xs:string"/>
	<xs:attribute name="indexLevelFour" type="xs:string"/>
	<xs:attribute name="indexLevelOne" type="xs:string"/>
	<xs:attribute name="indexLevelThree" type="xs:string"/>
	<xs:attribute name="indexLevelTwo" type="xs:string"/>
	<xs:attribute name="infoCode" type="infoCodeAttType"/>
	<xs:attribute name="infoCodeVariant" type="infoCodeVariantAttType"/>
	<xs:attribute name="infoEntityIdent" type="xs:ENTITY"/>
	<xs:attribute name="infoEntityRefIdent" type="xs:string"/>
	<xs:attribute name="initialProvisioningProjectNumber" type="xs:string"/>
	<xs:attribute name="initialProvisioningProjectNumberSubject" type="xs:string"/>
	<xs:attribute name="initialStateFlag" type="yesOrNoAttType"/>
	<xs:attribute name="insertionOrder" type="insertionOrderAttType"/>
	<xs:attribute name="inspectionTypeCategory" type="xs:string"/>
	<xs:attribute name="installationIdent" type="xs:string"/>
	<xs:attribute name="installationLocationType" type="installationLocationTypeAttType"/>
	<xs:attribute name="installationLocationTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="internalRefId" type="xs:IDREF"/>
	<xs:attribute name="internalRefTargetType" type="internalRefTargetTypeAttType"/>
	<xs:attribute name="internalRefTargetTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="inWork" type="inWorkAttType"/>
	<xs:attribute name="ipdXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="issueNumber" type="issueNumberAttType"/>
	<xs:attribute name="issueType" type="issueTypeAttType" default="new"/>
	<xs:attribute name="item" type="itemAttType"/>
	<xs:attribute name="itemCharacteristic" type="itemCharacteristicAttType"/>
	<xs:attribute name="itemCharacteristicAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="itemLocationCode" type="itemLocationCodeAttType"/>
	<xs:attribute name="itemOriginator" type="itemOriginatorAttType"/>
	<xs:attribute name="itemOriginatorAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="itemSeqNumberValue" type="xs:string"/>
	<xs:attribute name="itemVariant" type="itemVariantAttType"/>
	<xs:attribute name="keepWithNext" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="label" type="xs:NMTOKEN"/>
	<xs:attribute name="languageCode" type="xs:string"/>
	<xs:attribute name="languageIsoCode" type="languageIsoCodeAttType"/>
	<xs:attribute name="lcName" type="xs:string"/>
	<xs:attribute name="lcValue" type="xs:string"/>
	<xs:attribute name="learnCode" type="learnCodeAttType"/>
	<xs:attribute name="learnEventCode" type="learnEventCodeAttType"/>
	<xs:attribute name="learningXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="legacyOrigin" type="xs:string"/>
	<xs:attribute name="limitCond" type="xs:string"/>
	<xs:attribute name="limitTypeValue" type="limitTypeValueAttType" default="pe"/>
	<xs:attribute name="limitUnitType" type="limitUnitTypeAttType"/>
	<xs:attribute name="limitUnitTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="linkActuate" type="linkActuateAttType"/>
	<xs:attribute name="linkShow" type="linkShowAttType"/>
	<xs:attribute name="listDirection" type="listDirectionAttType"/>
	<xs:attribute name="listItemPrefix" type="listItemPrefixAttType" default="pf02"/>
	<xs:attribute name="listItemPrefixAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="locallySuppliedFlag" type="yesOrNoAttType"/>
	<xs:attribute name="lowestLevel" type="lowestLevelAttType"/>
	<xs:attribute name="lowestLevelAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="lsarData" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="maintLevelCode" type="maintLevelCodeAttType"/>
	<xs:attribute name="maintLevelCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="maintPlanningType" type="xs:string"/>
	<xs:attribute name="man" type="xs:NMTOKEN"/>
	<xs:attribute name="mandatory" type="yesOrNoAttType" default="1"/>
	<xs:attribute name="manufacturedFlag" type="yesOrNoAttType" default="1"/>
	<xs:attribute name="manufacturerCodeValue" type="xs:string"/>
	<xs:attribute name="markerType" type="xs:string"/>
	<xs:attribute name="materialCategory" type="xs:string"/>
	<xs:attribute name="materialSetIdent" type="xs:string"/>
	<xs:attribute name="materialSetIssue" type="xs:string"/>
	<xs:attribute name="materialUsage" type="materialUsageAttType"/>
	<xs:attribute name="materialUsageAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="mediaLocation" type="xs:string"/>
	<xs:attribute name="memorizeStepsFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="menuChoiceDefaultFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="menuChoiceFlow" type="menuChoiceFlowAttType" default="list"/>
	<xs:attribute name="modelIdentCode" type="modelIdentCodeAttType"/>
	<xs:attribute name="modelVersionValue" type="xs:string"/>
	<xs:attribute name="modificationType" type="modificationTypeAttType"/>
	<xs:attribute name="monitoredFlag" type="yesOrNoAttType"/>
	<xs:attribute name="month" type="monthAttType"/>
	<xs:attribute name="morerows" type="xs:nonNegativeInteger" default="0"/>
	<xs:attribute name="mountColumn" type="xs:string"/>
	<xs:attribute name="mountPosition" type="xs:string"/>
	<xs:attribute name="mountRow" type="xs:string"/>
	<xs:attribute name="multimediaObjectHeight" type="xs:string"/>
	<xs:attribute name="multimediaObjectWidth" type="xs:string"/>
	<xs:attribute name="multimediaType" type="multimediaTypeAttType"/>
	<xs:attribute name="nameend" type="xs:NMTOKEN"/>
	<xs:attribute name="namest" type="xs:NMTOKEN"/>
	<xs:attribute name="natoCodificationBureau" type="xs:int"/>
	<xs:attribute name="natoItemIdentNumberCore" type="xs:int"/>
	<xs:attribute name="natoSupplyClass" type="xs:int"/>
	<xs:attribute name="nextActionRefId" type="xs:IDREF"/>
	<xs:attribute name="normativeComponentFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="noteType" type="xs:string"/>
	<xs:attribute name="numberAction" type="numberActionAttType"/>
	<xs:attribute name="numberOperation" type="numberOperationAttType"/>
	<xs:attribute name="numRequired" type="xs:integer"/>
	<xs:attribute name="objectCoordinates" type="xs:string"/>
	<xs:attribute name="objectDescr" type="xs:string"/>
	<xs:attribute name="objectIdentCode" type="objectIdentCodeAttType"/>
	<xs:attribute name="obsoleteFlag" type="yesOrNoAttType"/>
	<xs:attribute name="occurrenceTrigger" type="xs:string"/>
	<xs:attribute name="operationType" type="operationTypeAttType"/>
	<xs:attribute name="operationTypeAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="orderedStepsFlag" type="yesOrNoAttType" default="1"/>
	<xs:attribute name="orient" type="orientAttType"/>
	<xs:attribute name="parameterIdent" type="xs:string"/>
	<xs:attribute name="parameterName" type="xs:string"/>
	<xs:attribute name="parameterValue" type="xs:string"/>
	<xs:attribute name="partCharacteristic" type="partCharacteristicAttType"/>
	<xs:attribute name="partCharacteristicAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="partNumberUnavailableFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="partNumberValue" type="xs:string"/>
	<xs:attribute name="partStatus" type="partStatusAttType"/>
	<xs:attribute name="partStatusAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="partUsageCode" type="partUsageCodeAttType"/>
	<xs:attribute name="partUsageCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="personCategoryCode" type="xs:string"/>
	<xs:attribute name="personPrefix" type="xs:string"/>
	<xs:attribute name="pgwide" type="yesOrNoAttType"/>
	<xs:attribute name="pmEntryType" type="pmEntryTypeAttType"/>
	<xs:attribute name="pmEntryTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="pmIssuer" type="pmIssuerAttType"/>
	<xs:attribute name="pmNumber" type="pmNumberAttType"/>
	<xs:attribute name="pmType" type="pmTypeAttType"/>
	<xs:attribute name="pmTypeAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="pmVolume" type="pmVolumeAttType"/>
	<xs:attribute name="pmXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="prdcrossreftableXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="procedureDuration" type="xs:string"/>
	<xs:attribute name="procedXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="processXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="productCategory" type="productCategoryAttType"/>
	<xs:attribute name="productCategoryAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="productConfigurationFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="productIdentifier" type="productIdentifierAttType" default="no"/>
	<xs:attribute name="productItemName" type="xs:string"/>
	<xs:attribute name="productItemType" type="productItemTypeAttType"/>
	<xs:attribute name="productItemTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="provisionedFlag" type="yesOrNoAttType"/>
	<xs:attribute name="pubCodingScheme" type="xs:string"/>
	<xs:attribute name="pubMediaCode" type="xs:string"/>
	<xs:attribute name="pubMediaType" type="xs:string"/>
	<xs:attribute name="qualifiedSiteFlag" type="yesOrNoAttType"/>
	<xs:attribute name="quantityGroupType" type="quantityGroupTypeAttType" default="nominal"/>
	<xs:attribute name="quantityToleranceType" type="quantityToleranceTypeAttType" default="plusorminus"/>
	<xs:attribute name="quantityType" type="quantityTypeAttType"/>
	<xs:attribute name="quantityTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="quantityTypeSpecifics" type="xs:string"/>
	<xs:attribute name="quantityUnitOfMeasure" type="quantityUnitOfMeasureAttType"/>
	<xs:attribute name="quantityUnitOfMeasureAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="reasonForSelectionValue" type="reasonForSelectionValueAttType"/>
	<xs:attribute name="reasonForUpdateRefIds" type="xs:IDREFS"/>
	<xs:attribute name="receiverIdent" type="receiverIdentAttType"/>
	<xs:attribute name="reducedMaint" type="xs:string"/>
	<xs:attribute name="referredFragment" type="xs:string"/>
	<xs:attribute name="refType" type="refTypeAttType"/>
	<xs:attribute name="refTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="relatedTaskDescr" type="relatedTaskDescrAttType"/>
	<xs:attribute name="releaseEvent" type="releaseEventAttType"/>
	<xs:attribute name="replacementCode" type="xs:string"/>
	<xs:attribute name="reproductionHeight" type="reproductionSizeAttType"/>
	<xs:attribute name="reproductionScale" type="xs:positiveInteger"/>
	<xs:attribute name="reproductionWidth" type="reproductionSizeAttType"/>
	<xs:attribute name="reqCondCategory" type="reqCondCategoryAttType"/>
	<xs:attribute name="reqCondCategoryAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="reqTechInfoCategory" type="reqTechInfoCategoryAttType"/>
	<xs:attribute name="reqTechInfoCategoryAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="resetCaption" type="resetCaptionAttType"/>
	<xs:attribute name="resetCaptionAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="responseType" type="responseTypeAttType"/>
	<xs:attribute name="responseTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="responsiblePartnerCompanyCode" type="xs:string"/>
	<xs:attribute name="rotate" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="rowsep" type="yesOrNoAttType"/>
	<xs:attribute name="rulesContext" type="xs:string"/>
	<xs:attribute name="runTimeDuration" type="xs:integer"/>
	<xs:attribute name="safeFlight" type="yesOrNoAttType"/>
	<xs:attribute name="safetyCategoryValue" type="safetyCategoryValueAttType"/>
	<xs:attribute name="safetyLabel" type="xs:string"/>
	<xs:attribute name="samplingRatio" type="xs:decimal"/>
	<xs:attribute name="samplingUnit" type="xs:string"/>
	<xs:attribute name="samplingValue" type="xs:positiveInteger"/>
	<xs:attribute name="sbAggregationLevelFlag" type="yesOrNoAttType"/>
	<xs:attribute name="sbApprovalIdent" type="xs:string"/>
	<xs:attribute name="sbComplianceCategory" type="sbComplianceCategoryAttType"/>
	<xs:attribute name="sbComplianceCategoryAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sbConcurrentStatus" type="sbConcurrentStatusAttType"/>
	<xs:attribute name="sbImpactType" type="sbImpactTypeAttType"/>
	<xs:attribute name="sbImpactTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sbItem" type="xs:string"/>
	<xs:attribute name="sbMaterialIdent" type="xs:string"/>
	<xs:attribute name="sbMaterialIssue" type="xs:string"/>
	<xs:attribute name="sbMaterialType" type="sbMaterialTypeAttType"/>
	<xs:attribute name="sbMaterialTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sbModificationClassification" type="sbModificationClassificationAttType"/>
	<xs:attribute name="sbModificationIdent" type="xs:string"/>
	<xs:attribute name="sbProcurableFlag" type="yesOrNoAttType"/>
	<xs:attribute name="sbReplacementType" type="sbReplacementTypeAttType"/>
	<xs:attribute name="sbSupplierValue" type="sbSupplierValueAttType"/>
	<xs:attribute name="sbTaskCategory" type="sbTaskCategoryAttType"/>
	<xs:attribute name="sbTaskCategoryAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sbTimeComplianceType" type="sbTimeComplianceTypeAttType"/>
	<xs:attribute name="sbTimeComplianceTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sbTopicType" type="sbTopicTypeAttType"/>
	<xs:attribute name="sbTopicTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sbXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="schedulXsd" type="yesOrNoAttType" default="0"/>
	<!-- CPF 2015-012EPWG R1: deleted unused scoCodingScheme attribute; 20171011 JS -->
	<xs:attribute name="scocontentXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="scoEntryType" type="scoEntryTypeAttType" default="scot01"/>
	<xs:attribute name="scoEntryTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<!-- CPF 2015-012EPWG R1: deleted unused scoMediaCode attribute; 20171011 JS -->
	<!-- CPF 2015-012EPWG R1: deleted unused scoMediaType attribute; 20171011 JS -->
	<xs:attribute name="scormContentPackageIssuer" type="scormContentPackageIssuerAttType"/>
	<xs:attribute name="scormContentPackageMediaCode" type="xs:string"/>
	<xs:attribute name="scormContentPackageMediaType" type="xs:string"/>
	<xs:attribute name="scormContentPackageNumber" type="scormContentPackageNumberAttType"/>
	<xs:attribute name="scormContentPackageVolume" type="scormContentPackageVolumeAttType"/>
	<xs:attribute name="scormcontentpackageXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="screenLevel" type="xs:string"/>
	<xs:attribute name="screenStyle" type="xs:string"/>
	<xs:attribute name="screenType" type="xs:string"/>
	<xs:attribute name="sealedFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="securityClassification" type="securityClassificationAttType"/>
	<xs:attribute name="securityClassificationAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="selectOrManufactureValue" type="selectOrManufactureValueAttType"/>
	<xs:attribute name="senderIdent" type="senderIdentAttType"/>
	<xs:attribute name="separatorStyle" type="separatorStyleAttType" default="dot"/>
	<xs:attribute name="seqNumber" type="seqNumberAttType"/>
	<xs:attribute name="serialNumberForm" type="serialNumberFormAttType"/>
	<xs:attribute name="serialNumberValue" type="xs:string"/>
	<xs:attribute name="setAction" type="setActionAttType"/>
	<xs:attribute name="setOperation" type="setOperationAttType"/>
	<xs:attribute name="showPluginControls" type="showPluginControlsAttType"/>
	<xs:attribute name="shuffle" type="yesOrNoAttType"/>
	<xs:attribute name="significantParaDataType" type="significantParaDataTypeAttType"/>
	<xs:attribute name="significantParaDataTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="skillLevelCode" type="skillLevelCodeAttType"/>
	<xs:attribute name="skillLevelCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="skillType" type="skillTypeAttType"/>
	<xs:attribute name="skillTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sleeveMaterial" type="xs:string"/>
	<xs:attribute name="softwareClassificationValue" type="softwareClassificationValueAttType"/>
	<xs:attribute name="softwareClassificationValueAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="softwareCustomizationStatusValue" type="softwareCustomizationStatusValueAttType"/>
	<xs:attribute name="softwareCustomizationStatusValueAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="sourceCriticality" type="sourceCriticalityAttType"/>
	<xs:attribute name="sourceCriticalityAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sourceOfRqmt" type="xs:string"/>
	<xs:attribute name="sourceTypeCode" type="sourceTypeCodeAttType"/>
	<xs:attribute name="sourceTypeCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="sourcingTypeValue" type="sourcingTypeValueAttType"/>
	<xs:attribute name="sourcingTypeValueAttRelation" type="yesOrNoAttType"/>
	<xs:attribute name="spanname" type="xs:NMTOKEN"/>
	<xs:attribute name="sparePartClassCode" type="sparePartClassCodeAttType"/>
	<xs:attribute name="specDocumentNumber" type="xs:string"/>
	<xs:attribute name="specDocumentType" type="xs:string"/>
	<xs:attribute name="specialLabelFlag" type="yesOrNoAttType"/>
	<xs:attribute name="specific" type="yesOrNoAttType" default="1"/>
	<xs:attribute name="startupDuration" type="xs:string"/>
	<xs:attribute name="stepLabel" type="xs:string"/>
	<xs:attribute name="stringAction" type="stringActionAttType"/>
	<xs:attribute name="stringOperation" type="stringOperationAttType"/>
	<xs:attribute name="subCategory" type="xs:string"/>
	<xs:attribute name="submitCaption" type="submitCaptionAttType" default="ok01"/>
	<xs:attribute name="submitCaptionAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="subSubSystemCode" type="subSubSystemCodeAttType"/>
	<xs:attribute name="subSystemCode" type="subSystemCodeAttType"/>
	<xs:attribute name="supervisorLevelCode" type="supervisorLevelCodeAttType"/>
	<xs:attribute name="supervisorLevelCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="supplyNumber" type="xs:string"/>
	<xs:attribute name="supplyNumberType" type="supplyNumberTypeAttType"/>
	<xs:attribute name="supplyNumberTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="supplyRqmtNumber" type="xs:string"/>
	<xs:attribute name="supplyRqmtStatusValue" type="xs:string"/>
	<xs:attribute name="supplyRqmtType" type="xs:string"/>
	<xs:attribute name="systemCode" type="systemCodeAttType"/>
	<xs:attribute name="systemDiffCode" type="systemDiffCodeAttType"/>
	<xs:attribute name="systemIdentCode" type="xs:string"/>
	<xs:attribute name="tableOfContentType" type="tableOfContentTypeAttType" default="none"/>
	<xs:attribute name="tabstyle" type="xs:NMTOKEN"/>
	<xs:attribute name="targetPath" type="xs:string"/>
	<xs:attribute name="targetTitle" type="xs:string"/>
	<xs:attribute name="taskCategoryCode" type="xs:string"/>
	<xs:attribute name="taskCode" type="taskCodeAttType"/>
	<xs:attribute name="taskCodeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="taskIdent" type="xs:string"/>
	<xs:attribute name="taskName" type="xs:string"/>
	<xs:attribute name="taskSeqNumber" type="xs:string"/>
	<xs:attribute name="testCode" type="xs:string"/>
	<xs:attribute name="testType" type="xs:string"/>
	<xs:attribute name="textDisplayPosition" type="textDisplayPositionAttType"/>
	<xs:attribute name="tgstyle" type="xs:NMTOKEN"/>
	<xs:attribute name="thresholdType" type="thresholdTypeAttType"/>
	<xs:attribute name="thresholdUnitOfMeasure" type="thresholdUnitOfMeasureAttType"/>
	<xs:attribute name="thresholdUnitOfMeasureAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="timeLimitCategoryValue" type="timeLimitCategoryValueAttType"/>
	<xs:attribute name="timeLimitIdent" type="xs:string"/>
	<xs:attribute name="to" type="xs:string"/>
	<xs:attribute name="tocentry" type="yesOrNoAttType" default="1"/>
	<xs:attribute name="toleranceType" type="toleranceTypeAttType"/>
	<!-- CPF 2013-063DE R1: changed type for toleranceValue from xs:int to xs:decimal; 20171001 JS -->
	<xs:attribute name="toleranceValue" type="xs:decimal"/>
	<xs:attribute name="toolAltFlag" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="toolNumber" type="xs:string"/>
	<xs:attribute name="toolRefType" type="xs:string"/>
	<xs:attribute name="twistingType" type="xs:string"/>
	<xs:attribute name="unitOfMeasure" type="xs:string"/>
	<xs:attribute name="updateHighlight" type="yesOrNoAttType"/>
	<xs:attribute name="updateReasonType" type="updateReasonTypeAttType"/>
	<xs:attribute name="updateReasonTypeAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="updateXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="valign" type="valignAttType"/>
	<xs:attribute name="valueAllowed" type="xs:string"/>
	<xs:attribute name="valueDataType" type="valueDataTypeAttType" default="string"/>
	<xs:attribute name="valueForm" type="valueFormAttType"/>
	<xs:attribute name="valuePattern" type="xs:string"/>
	<xs:attribute name="valuePrecision" type="xs:string"/>
	<xs:attribute name="valueTailoring" type="valueTailoringAttType" default="closed"/>
	<xs:attribute name="valueType" type="valueTypeAttType" default="integer"/>
	<xs:attribute name="variableDescr" type="xs:string"/>
	<xs:attribute name="variableName" type="xs:string"/>
	<xs:attribute name="variableScope" type="variableScopeAttType" default="local"/>
	<xs:attribute name="vendorFlag" type="yesOrNoAttType"/>
	<xs:attribute name="verbatimStyle" type="verbatimStyleAttType"/>
	<xs:attribute name="verbatimStyleAttRelation" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="verificationType" type="verificationTypeAttType"/>
	<xs:attribute name="visibility" type="visibilityAttType" default="visible"/>
	<xs:attribute name="vitalWarningFlag" type="yesOrNoAttType"/>
	<xs:attribute name="volumeNumber" type="xs:string"/>
	<xs:attribute name="warningIdentNumber" type="xs:string"/>
	<xs:attribute name="warningRefs" type="xs:IDREFS"/>
	<xs:attribute name="warningType" type="xs:string"/>
	<xs:attribute name="weightingFactor" type="xs:int"/>
	<xs:attribute name="wireGaugeType" type="wireGaugeTypeAttType"/>
	<xs:attribute name="wireInstallationDirection" type="xs:string"/>
	<xs:attribute name="wireLengthType" type="wireLengthTypeAttType"/>
	<xs:attribute name="wireState" type="wireStateAttType"/>
	<xs:attribute name="worthinessLimit" type="worthinessLimitAttType"/>
	<xs:attribute name="wrngdataXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="wrngfldsXsd" type="yesOrNoAttType" default="0"/>
	<xs:attribute name="year" type="yearAttType"/>
	<xs:attribute name="yearOfDataIssue" type="yearOfDataIssueAttType"/>
	<xs:attribute name="zoneNumber" type="xs:string"/>
	<xs:attribute name="zoneRefType" type="xs:string"/>
	<xs:attribute name="zoneSideValue" type="zoneSideValueAttType"/>
	<xs:attribute name="zoneType" type="zoneTypeAttType"/>
</xs:schema>
