xml_schema_master/dmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation id="version">
		<xs:documentation>Issue number: 5.0</xs:documentation>
		<xs:documentation>Issue date: 2019-06-28</xs:documentation>
		<xs:documentation>Steering Committee Trigger: SC 35.01</xs:documentation>
		<xs:documentation>URL: http://www.s1000d.org/S1000D_5-0/xml_schema_master/dmlSchema.xsd</xs:documentation>
		<xs:documentation>Root element: dml</xs:documentation>
		<xs:documentation>Remarks: none</xs:documentation>
	</xs:annotation>
	<xs:annotation id="copyright">
		<xs:documentation>Copyright:
		Copyright (C) 1989, 2004, 2005, 2007, 2008, 2009, 2011, 2012, 2016, 2017, 2018, 2019 by each of the following organizations:
		1.  AeroSpace and Defence Industries Associations of Europe - ASD.
		2.  Ministries of Defence of the member countries of ASD.
	
		Limitations of Liability:

		1.  This material is provided "As Is" and neither ASD nor any person who has contributed to the creation, revision or maintenance of the material makes any representations or warranties, express or implied, including but not limited to, warranties of merchantability or fitness for any particular purpose.
		2.  Neither ASD nor any person who has contributed to the creation, revision or maintenance of this material shall be liable for any direct, indirect, special or consequential damages or any other liability arising from any use of this material.
		3.  Revisions to this document may occur after its issuance.  The user is responsible for determining if revisions to the material contained in this document have occurred and are applicable. 
		</xs:documentation>
	</xs:annotation>
	<xs:annotation id="changes_4.2-03">
		<xs:documentation source="2017-029BRWG R7">brDoc gaps; 2019-02-15 JS URL: https://specring.com/specs/S1000D/SPEC/proposals/view/BRWG-2017-0029</xs:documentation>
	</xs:annotation>
	<xs:redefine schemaLocation="complexTypes.xsd">
		<xs:group name="paraContentElemGroup">
			<xs:choice>
				<xs:group ref="textElemGroup"/>
				<xs:group ref="listElemGroup"/>
			</xs:choice>
		</xs:group>
<!-- CPF 2017-029BRWG R7: added redefinition of textElemGroup to exclude brDoc-specific elements; 20190315 JS -->
		<xs:group name="textElemGroup">
			<xs:choice>
				<xs:element ref="functionalItemRef"/>
				<xs:element ref="circuitBreakerRef"/>
				<xs:element ref="controlIndicatorRef"/>
				<xs:element ref="inlineSignificantData"/>
				<xs:element ref="quantity"/>
				<xs:element ref="zoneRef"/>
				<xs:element ref="accessPointRef"/>
				<xs:element ref="identNumber"/>
				<xs:element ref="internalRef"/>
				<xs:element ref="indexFlag"/>
				<xs:element ref="changeInline"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="symbol"/>
				<xs:element ref="subScript"/>
				<xs:element ref="superScript"/>
				<xs:element ref="dmRef"/>
				<xs:element ref="pmRef"/>
				<xs:element ref="externalPubRef"/>
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
				<xs:element ref="acronym"/>
				<xs:element ref="acronymTerm"/>
				<xs:element ref="captionGroup"/>
				<xs:element ref="caption"/>
				<xs:element ref="verbatimText"/>
			</xs:choice>
		</xs:group>
		<!-- CPF 2017-029BRWG R7: added attentionText redefinition to exclude brDoc-specific elements; 20190322 JS -->
		<xs:group name="attentionText">
			<xs:choice>
				<xs:element ref="functionalItemRef"/>
				<xs:element ref="circuitBreakerRef"/>
				<xs:element ref="controlIndicatorRef"/>
				<xs:element ref="inlineSignificantData"/>
				<xs:element ref="quantity"/>
				<xs:element ref="zoneRef"/>
				<xs:element ref="accessPointRef"/>
				<xs:element ref="identNumber"/>
				<xs:element ref="internalRef"/>
				<xs:element ref="changeInline"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="symbol"/>
				<xs:element ref="subScript"/>
				<xs:element ref="superScript"/>
				<xs:element ref="dmRef"/>
				<xs:element ref="pmRef"/>
				<xs:element ref="externalPubRef"/>
				<xs:element ref="acronym"/>
				<xs:element ref="acronymTerm"/>
				<xs:element ref="caption"/>
				<xs:element ref="verbatimText"/>
			</xs:choice>
		</xs:group>
		<xs:complexType name="identAndStatusSectionElemType">
			<xs:complexContent>
				<xs:restriction base="identAndStatusSectionElemType">
					<xs:sequence>
						<xs:element ref="dmlAddress"/>
						<xs:element ref="dmlStatus"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:element name="dml" type="dmlElemType"/>
</xs:schema>
