xml_schema_master/processSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation id="version">
		<xs:documentation>Issue number: 5.0</xs:documentation>
		<xs:documentation>Issue date: 2019-06-28</xs:documentation>
		<xs:documentation>Steering Committee Trigger: SC 35.01</xs:documentation>
		<xs:documentation>URL: http://www.s1000d.org/S1000D_5-0/xml_schema_master/processSchema.xsd</xs:documentation>
		<xs:documentation>Root element: dmodule</xs:documentation>
		<xs:documentation>Remarks: none</xs:documentation>
	</xs:annotation>
	<xs:annotation id="copyright">
		<xs:documentation>Copyright:
		Copyright (C) 1989, 2004, 2005, 2007, 2008, 2009, 2011, 2012, 2016, 2017, 2018, 2019 by each of the following organizations:
		1.  AeroSpace and Defence Industries Associations of Europe - ASD.
		2.  Ministries of Defence of the member countries of ASD.
	
		Limitations of Liability:

		1.  This material is provided "As Is" and neither ASD nor any person who has contributed to the creation, revision or maintenance of the material makes any representations or warranties, express or implied, including but not limited to, warranties of merchantability or fitness for any particular purpose.
		2.  Neither ASD nor any person who has contributed to the creation, revision or maintenance of this material shall be liable for any direct, indirect, special or consequential damages or any other liability arising from any use of this material.
		3.  Revisions to this document may occur after its issuance.  The user is responsible for determining if revisions to the material contained in this document have occurred and are applicable. 
		</xs:documentation>
	</xs:annotation>
	<xs:annotation id="changes_4.2-03">
		<xs:documentation source="2019-001EPWG R5">Identification of Regulatory Information Addendum; 2019-01-22 JS URL: https://specring.com/specs/S1000D/SPEC/proposals/view/EPWG-2019-0001</xs:documentation>
	</xs:annotation>
	<xs:redefine schemaLocation="complexTypes.xsd">
		<xs:group name="normalParaElemGroup">
			<xs:sequence>
				<xs:group ref="warningAndCautionElemGroup"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:group ref="ncpElemGroup"/>
					<xs:group ref="fmftElemGroup"/>
				</xs:choice>
			</xs:sequence>
		</xs:group>
		<xs:group name="ncpElemGroup">
			<xs:choice>
				<xs:element ref="note"/>
				<xs:element ref="para"/>
			</xs:choice>
		</xs:group>
		<xs:group name="textElemGroup">
			<xs:choice>
				<xs:element ref="functionalItemRef"/>
				<xs:element ref="circuitBreakerRef"/>
				<xs:element ref="controlIndicatorRef"/>
				<xs:element ref="inlineSignificantData"/>
				<xs:element ref="quantity"/>
				<xs:element ref="internalRef"/>
				<xs:element ref="changeInline"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="symbol"/>
				<xs:element ref="subScript"/>
				<xs:element ref="superScript"/>
				<xs:element ref="dmRef"/>
				<xs:element ref="pmRef"/>
				<xs:element ref="externalPubRef"/>
				<xs:element ref="footnote"/>
				<xs:element ref="footnoteRef"/>
				<xs:element ref="acronym"/>
				<xs:element ref="acronymTerm"/>
				<xs:element ref="verbatimText"/>
			</xs:choice>
		</xs:group>
		<xs:group name="restrictedInlineTextElemGroup">
			<xs:choice>
				<xs:element ref="internalRef"/>
				<xs:element ref="indexFlag"/>
				<xs:element ref="symbol"/>
				<xs:element ref="subScript"/>
				<xs:element ref="superScript"/>
				<xs:element ref="footnoteRef"/>
				<xs:element ref="acronym"/>
				<xs:element ref="acronymTerm"/>
			</xs:choice>
		</xs:group>
		<xs:group name="attentionText">
			<xs:choice>
				<xs:element ref="functionalItemRef"/>
				<xs:element ref="circuitBreakerRef"/>
				<xs:element ref="controlIndicatorRef"/>
				<xs:element ref="inlineSignificantData"/>
				<xs:element ref="quantity"/>
				<xs:element ref="internalRef"/>
				<xs:element ref="changeInline"/>
				<xs:element ref="emphasis"/>
				<xs:element ref="symbol"/>
				<xs:element ref="subScript"/>
				<xs:element ref="superScript"/>
				<xs:element ref="dmRef"/>
				<xs:element ref="pmRef"/>
				<xs:element ref="externalPubRef"/>
				<xs:element ref="acronym"/>
				<xs:element ref="acronymTerm"/>
				<xs:element ref="verbatimText"/>
			</xs:choice>
		</xs:group>
		<xs:complexType name="identAndStatusSectionElemType">
			<xs:complexContent>
				<xs:restriction base="identAndStatusSectionElemType">
					<xs:sequence>
						<xs:element ref="dmAddress"/>
						<xs:element ref="dmStatus"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="contentElemType">
			<xs:complexContent>
				<xs:restriction base="contentElemType">
					<xs:sequence>
						<xs:element ref="refs" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="referencedApplicGroup"/>
							<xs:element ref="referencedApplicGroupRef"/>
						</xs:choice>
						<xs:choice minOccurs="0">
							<xs:element ref="warningsAndCautions"/>
							<xs:element ref="warningsAndCautionsRef"/>
						</xs:choice>
						<xs:element ref="process"/>
					</xs:sequence>
					<xs:attribute ref="id"/>
					<!-- CPF 2019-001EPWG R5: added new attribute controlAuthorityRefs; 20190122 JS -->
					<xs:attribute ref="controlAuthorityRefs"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:element name="dmodule" type="dmoduleElemType"/>
</xs:schema>
