viewer/compliance/attribute_compliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="attributes" type="attributesElemType"/>
  <xs:complexType name="attributesElemType">
    <xs:sequence>
      <xs:element name="configurable" type="configurableElemType"/>
      <xs:element name="fixed" type="fixedElemType" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurableElemType">
    <xs:sequence>
      <xs:element name="attributeInfo" type="attributeInfoElemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fixedElemType">
    <xs:sequence>
      <xs:element name="attributeInfo" type="attributeInfoElemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attributeInfoElemType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="values" type="valuesElemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valuesElemType">
    <xs:sequence>
      <xs:element name="value" type="valueElemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valueElemType">
    <xs:sequence>
      <xs:element name="result" type="resultElemType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultElemType">
    <xs:sequence>
      <xs:element name="status" type="xs:boolean"/>
      <xs:element name="remark" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
