src/xml_schema_master/attributeGroups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation id="version">
		<xs:documentation>Issue number: 5.0</xs:documentation>
		<xs:documentation>Issue date: 2019-06-28</xs:documentation>
		<xs:documentation>Steering Committee Trigger: SC 35.01</xs:documentation>
		<xs:documentation>URL: http://www.s1000d.org/S1000D_5-0/xml_schema_master/attributeGroups.xsd</xs:documentation>
		<xs:documentation>Remarks: none</xs:documentation>
	</xs:annotation>
	<xs:annotation id="copyright">
		<xs:documentation>Copyright:
		Copyright (C) 1989, 2004, 2005, 2007, 2008, 2009, 2011, 2012, 2016, 2017, 2018, 2019 by each of the following organizations:
		1.  AeroSpace and Defence Industries Associations of Europe - ASD.
		2.  Ministries of Defence of the member countries of ASD.
	
		Limitations of Liability:

		1.  This material is provided "As Is" and neither ASD nor any person who has contributed to the creation, revision or maintenance of the material makes any representations or warranties, express or implied, including but not limited to, warranties of merchantability or fitness for any particular purpose.
		2.  Neither ASD nor any person who has contributed to the creation, revision or maintenance of this material shall be liable for any direct, indirect, special or consequential damages or any other liability arising from any use of this material.
		3.  Revisions to this document may occur after its issuance.  The user is responsible for determining if revisions to the material contained in this document have occurred and are applicable. 
		</xs:documentation>
	</xs:annotation>
	<xs:annotation id="changes_4.2-01"/>
	<xs:annotation id="changes_4.2-02"/>
	<xs:annotation id="changes_4.2-03">
		<xs:documentation source="2015-016AA R4">Identification of Regulatory Information; 2018-11-26 JS URL: https://specring.com/specs/S1000D/SPEC/proposals/view/AA-2015-0012</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="attributes.xsd"/>
	<!-- CPF 2015-016AA R4: deleted attribute group authorityAttGroup; 20181126 JS -->
	<xs:attributeGroup name="changeAttGroup">
		<xs:attribute ref="changeType"/>
		<xs:attribute ref="changeMark"/>
		<xs:attribute ref="reasonForUpdateRefIds"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="checkAttGroup">
		<xs:attribute ref="independentCheck"/>
		<xs:attribute ref="skillLevelCode"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="commercialSecurityAttGroup">
		<xs:attribute ref="commercialClassification"/>
		<xs:attribute ref="caveat"/>
	</xs:attributeGroup>
	<!-- CPF 2015-016AA R4: added new attribute group controlAuthorityAttGroup; 20181126 JS -->
	<xs:attributeGroup name="controlAuthorityAttGroup">
		<xs:attribute ref="controlAuthorityType" use="required"/>
		<xs:attribute ref="controlAuthoritySource"/>
		<xs:attribute ref="controlAuthorityValue"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="dateAttGroup">
		<xs:attribute ref="year" use="required"/>
		<xs:attribute ref="month" use="required"/>
		<xs:attribute ref="day" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="externalPubIssueDateAttGroup">
		<xs:attribute ref="year"/>
		<xs:attribute ref="month"/>
		<xs:attribute ref="day"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="securityAttGroup">
		<xs:attribute ref="securityClassification"/>
		<xs:attributeGroup ref="commercialSecurityAttGroup"/>
		<xs:attribute ref="derivativeClassificationRefId"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="vendorInfoAttGroup">
		<xs:attribute ref="contextIdent"/>
		<xs:attribute ref="manufacturerCodeValue"/>
		<xs:attribute ref="itemOriginator"/>
	</xs:attributeGroup>
</xs:schema>
