lom_schema/vocab/loose-vocab.xsd

<xs:schema targetNamespace="http://ltsc.ieee.org/xsd/LOM/vocab" xmlns="http://ltsc.ieee.org/xsd/LOM/vocab" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="IEEE LTSC LOM XML 1.0"><xs:annotation><xs:documentation>
       This work is licensed under the Creative Commons Attribution-ShareAlike
       License.  To view a copy of this license, see the file license.txt,
       visit http://creativecommons.org/licenses/by-sa/1.0 or send a letter to
       Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.
    </xs:documentation><xs:documentation>
       This component schema provides simple type declarations for metadata
       elements that are defined to be of the Vocabulary datatype.

       This component schema supports loose validation of vocabulary value constraints
       by allowing both the source and value to be arbitrary strings. 

       NOTE-The absence of the enforcement of vocabulary values does not relieve a 
       particular LOM instance from satisfying vocabulary requirements defined in the
       LOMv1.0 base schema. Applications that require the use of vocab/loose.xsd 
       component XSD should enforce those vocabulary requirements by other means.
    </xs:documentation><xs:documentation>
        *****************************************************************************
        **                           CHANGE HISTORY                                **
        *****************************************************************************
        ** 03/15/2004:  1)Updated annoation describing purpose and design of the   **
        **                XSD.                                                     **
        *****************************************************************************
      </xs:documentation></xs:annotation><xs:import namespace="http://ltsc.ieee.org/xsd/LOM"/><xs:simpleType name="source"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="structure"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="aggregationLevel"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="status"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="role"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="roleMeta"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="type"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="name"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="interactivityType"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="learningResourceType"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="interactivityLevel"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="semanticDensity"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="intendedEndUserRole"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="context"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="difficulty"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="cost"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="copyrightAndOtherRestrictions"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="kind"><xs:restriction base="lom:CharacterString"/></xs:simpleType><xs:simpleType name="purpose"><xs:restriction base="lom:CharacterString"/></xs:simpleType></xs:schema>