lom_schema/vocab/strict-vocab.xsd

<xs:schema xmlns="http://ltsc.ieee.org/xsd/LOM/vocab" xmlns:lom="http://ltsc.ieee.org/xsd/LOM" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ltsc.ieee.org/xsd/LOM/vocab" elementFormDefault="qualified" version="IEEE LTSC LOM XML 1.0"><xs:annotation><xs:documentation>
         This work is licensed under the Creative Commons Attribution-ShareAlike
         License.  To view a copy of this license, see the file license.txt,
         visit http://creativecommons.org/licenses/by-sa/1.0 or send a letter to
         Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.
      </xs:documentation><xs:documentation>
         This component schema provides simple type declarations for metadata
         elements whose values are taken from the IEEE standard vocabulary token set.

         This component schema supports strict validation of vocabulary values by
         checking that both the source and value are from the IEEE standard token set.
      </xs:documentation><xs:documentation>
        *****************************************************************************
        **                           CHANGE HISTORY                                **
        *****************************************************************************
        ** 03/15/2004:  1)Updated annoation describing purpose and design of the   **
        **                XSD.                                                     **
        *****************************************************************************
      </xs:documentation></xs:annotation><xs:import namespace="http://ltsc.ieee.org/xsd/LOM" schemaLocation="../lom.xsd"/><xs:simpleType name="source"><xs:union memberTypes="lom:sourceValues"/></xs:simpleType><xs:simpleType name="structure"><xs:union memberTypes="lom:structureValues"/></xs:simpleType><xs:simpleType name="aggregationLevel"><xs:union memberTypes="lom:aggregationLevelValues"/></xs:simpleType><xs:simpleType name="status"><xs:union memberTypes="lom:statusValues"/></xs:simpleType><xs:simpleType name="role"><xs:union memberTypes="lom:roleValues"/></xs:simpleType><xs:simpleType name="roleMeta"><xs:union memberTypes="lom:roleMetaValues"/></xs:simpleType><xs:simpleType name="type"><xs:union memberTypes="lom:typeValues"/></xs:simpleType><xs:simpleType name="name"><xs:union memberTypes="lom:nameValues"/></xs:simpleType><xs:simpleType name="interactivityType"><xs:union memberTypes="lom:interactivityTypeValues"/></xs:simpleType><xs:simpleType name="learningResourceType"><xs:union memberTypes="lom:learningResourceTypeValues"/></xs:simpleType><xs:simpleType name="interactivityLevel"><xs:union memberTypes="lom:interactivityLevelValues"/></xs:simpleType><xs:simpleType name="semanticDensity"><xs:union memberTypes="lom:semanticDensityValues"/></xs:simpleType><xs:simpleType name="intendedEndUserRole"><xs:union memberTypes="lom:intendedEndUserRoleValues"/></xs:simpleType><xs:simpleType name="context"><xs:union memberTypes="lom:contextValues"/></xs:simpleType><xs:simpleType name="difficulty"><xs:union memberTypes="lom:difficultyValues"/></xs:simpleType><xs:simpleType name="cost"><xs:union memberTypes="lom:costValues"/></xs:simpleType><xs:simpleType name="copyrightAndOtherRestrictions"><xs:union memberTypes="lom:copyrightAndOtherRestrictionsValues"/></xs:simpleType><xs:simpleType name="kind"><xs:union memberTypes="lom:kindValues"/></xs:simpleType><xs:simpleType name="purpose"><xs:union memberTypes="lom:purposeValues"/></xs:simpleType></xs:schema>